h1{
    color: rgb(12, 15, 12);
    background-color: rgb(138, 104, 104);
    text-align: center;
}

.subtitulo{
    color: rgb(21, 20, 19);
    background-color: rgb(202, 155, 155);
    text-align: center;
}   
