.body {
    height: 1000px;
    position: relative;
}

.estatico {
    position: static;
    background-color: lightcoral;
    padding: 10px;
}

.relativo {
    position: relative;
    background-color: lightgreen;
    padding: 10px;
    top: 50px;
    left: 50px;
}

.fijo {
    position: fixed;
    background-color: lightblue;
    color: white;
    padding: 10px;
    bottom: 50px;
    right: 50px;
}